#pagination .pagination {
    justify-content: center; 
    align-items: center;
    margin-top: 100px;
}
#pagination .pagination button {
    height: auto;
    font-size: 16px;
    padding: 18px 22px;
    font-weight: 500;
    color: #FFF;
    background-color: #EFC81A;
}

#pagination .pagination button:hover {
    background-color: #EFC81A;
    color: black;
}

#pagination .pagination span {
    font-size: 32px;
    color: #3F3A3A;
    margin-right: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    /* pagination */
    #pagination .pagination {
        margin-top: 80px;
    }

    #pagination .pagination button {
        font-size: 12px;
        padding: 10px 12px;
    }

    #pagination .pagination span {
        font-size: 22px;
        margin-right: 10px;
    }
}

@media only screen and  (max-width: 991px) {
    /* pagination */
    #pagination .pagination {
        margin-top: 60px; 
    }

    #pagination .pagination button {
        font-size: 10px; 
        padding: 8px 10px; 
    }

    #pagination .pagination span {
        font-size: 18px; 
        margin-right: 8px; 
    }
}

@media only screen and (max-width: 576px) {
    #pagination .pagination {
        margin-top: 40px;
    }

    #pagination .pagination button {
        font-size: 10px;
        padding: 6px 8px;
    }

    #pagination .pagination span {
        font-size: 12px;
        margin-right: 6px;
    }
}