/* Add Image */
.form-add-recipe {
    margin:0 auto;
    width: 100%;
    text-align: center;
}

.add-image {
    position: relative;
    background-color: #F6F5F4;;
    width: 100%;
    /* height: 480px; */
    flex-shrink: 0;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.add-image img {
    width:400px;
    margin: 100px 0;
    border-radius: 20px;
}

input[type="file"] {
    display: none;
}

.add-image .label-file-upload {
    position: absolute;
    border-radius: 5px;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #67e711;
}

.add-image input:hover {
    text-decoration: underline;
}

.form-add-recipe .form-control:focus {
    border-radius: 6px;
    border: 1px solid #EFC81A;
    background: #FFF;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
}

#title-form{
    margin-top:40px ;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background: #F6F5F4;
    color: #666;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#form-ingredients {
    margin-top: 40px;
    width: 100%;
    height: 380px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F6F5F4;
    color: #666;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
}

#form-category {
    width: fit-content;
    border-radius: 15px;
    background: #F6F5F4;
    color: #666;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    padding: 20px;
    cursor:pointer;
}

#btn-add-recipe {
    width: fit-content;
    padding: 20px 100px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #EFC81A;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin:100px auto;
}

#btn-add-recipe:hover {
    background: #fff;
    color: #EFC81A;
    border: 2px solid #EFC81A;
}

/* small desk */
@media only screen and (min-width: 992px) and (max-width: 1280px){
    /* Add Image */
    .form-add-recipe {
        margin:0 auto;
        width: 100%;
    }

    .add-image {
        position: relative;
        width: 100%;
        /* height: 480px; */
        border-radius: 15px;
    }

    .add-image img {
        width:500px;
        height: auto;
        margin: 50px 0;
    }

    input[type="file"] {
        display: none;
    }

    .add-image .label-file-upload {
        border-radius: 5px;
        padding: 12px 24px;
        font-size: 18px;
    }

    .form-add-recipe .form-control:focus {
        border-radius: 6px;
        border: 1px solid #EFC81A;
        background: #FFF;
        box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    }

    #title-form{
        margin-top:40px ;
        width: 100%;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 500;
        padding: 20px;
    }

    #form-ingredients {
        margin-top: 40px;
        width: 100%;
        height: 380px;
        border-radius: 15px;
        font-size: 18px;
        padding: 20px;
    }

    #form-category {
        width: fit-content;
        border-radius: 15px;
        font-size: 18px;
        margin-top: 40px;
        padding: 20px;
    }

    #btn-add-recipe {
        padding: 10px 100px;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 500;
        margin:100px auto;
    }
}

/* tablet */
@media only screen and  (max-width: 991px) {
    /* Add Image */
    .form-add-recipe {
        margin:0 auto;
        width: 100%;
    }

    .add-image {
        position: relative;
        width: 100%;
        /* height: 480px; */
        border-radius: 15px;
    }

    .add-image img {
        width:500px;
        height: auto;
        margin: 50px 0;
    }

    input[type="file"] {
        display: none;
    }

    .add-image .label-file-upload {
        border-radius: 5px;
        padding: 12px 24px;
        font-size: 18px;
    }

    .form-add-recipe .form-control:focus {
        border-radius: 6px;
        border: 1px solid #EFC81A;
        background: #FFF;
        box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    }

    #title-form{
        margin-top:40px ;
        width: 100%;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 500;
        padding: 20px;
    }

    #form-ingredients {
        margin-top: 40px;
        width: 100%;
        height: 380px;
        border-radius: 15px;
        font-size: 18px;
        padding: 20px;
    }

    #form-category {
        width: fit-content;
        border-radius: 15px;
        font-size: 18px;
        margin-top: 40px;
        padding: 20px;
    }

    #btn-add-recipe {
        padding: 10px 100px;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 500;
        margin:100px auto;
    }
}

/* phone */
@media only screen and (max-width: 576px){
    /* Add Image */
    .form-add-recipe {
        margin:0 auto;
        width: 100%;
    }

    .add-image {
        position: relative;
        width: 100%;
        /* height: 480px; */
        border-radius: 10px;
    }

    .add-image img {
        width:320px;
        height: auto;
        margin: 50px 0;
    }

    .add-image .label-file-upload {
        border-radius: 5px;
        padding: 12px 24px;
        font-size: 16px;
    }

    .form-add-recipe .form-control:focus {
        border-radius: 6px;
        border: 1px solid #EFC81A;
        background: #FFF;
        box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    }

    #title-form{
        margin-top:20px ;
        width: 100%;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        padding: 14px;
    }

    #form-ingredients {
        margin-top: 20px;
        width: 100%;
        height: 280px;
        border-radius: 15px;
        font-size: 16px;
        padding: 14px;
    }

    #form-category {
        width: fit-content;
        border-radius: 15px;
        font-size: 16px;
        margin-top: 20px;
        padding: 14px;
    }

    #btn-add-recipe {
        padding: 10px 100px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        margin:30px auto;
    }
}