#cards-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:50px;
    padding: 50px 0;
}

#cards-body .card-item{
    cursor: pointer;
    width: 1000px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.card-item .left-card {
    min-width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius:20px ;
}

.card-item .right-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    gap: 30px;
    justify-content: space-between;
}

.empty,
.right-card .card-title {
    color: #3F3A3A;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.right-card .card-title:hover {
    text-decoration: underline;
}

.right-card .card-ingredients {
    color: #3F3A3A;
    font-size: 24px;
    font-weight: 500;
    flex: 1 1 0%;
    max-height: 150px;
    overflow-y: auto;
    text-transform: capitalize;
}

.card-ingredients::-webkit-scrollbar {
    display: none;
  }
.card-ingredients {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.right-card .card-stats {
    color: #FFF;
    background-color: #eec302;
    font-size: 16px;
    font-weight: 600;
    padding: 13px;
    border-radius: 10px;
}

.card-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.card-author .author-photo {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.card-author .author-name {
    color: #3F3A3A;
    font-size: 24px;
    font-weight: 600;
}

.card-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right-card .button {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 13px;
    border-radius: 10px;
}

.edit-btn {
    background-color: #30C0F3;
}

.delete-btn {
    background-color: salmon;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    #cards-body {
        gap:30px;
        padding: 40px 0;
    }
    
    #cards-body .card-item{
        width: 600px;
        height: 300px;
        border-radius: 20px;
    }
    
    .card-item .left-card {
        min-width: 50%;
        height: 100%;
        border-radius:20px ;
    }
    
    .card-item .right-card {
        padding: 24px;
        gap: 10px;
    }
    
    .right-card .card-title {
        font-size: 22px;
    }
    
    .right-card .card-ingredients {
        font-size: 16px;
        max-height: 160px;
    }
    
    .right-card .card-stats {
        font-size:12px;
        padding: 7px;
        border-radius: 10px;
    }
    
    .card-author {
        gap: 10px;
    }
    
    .card-author .author-photo {
        width: 40px;
        height: 40px;
    }
    
    .card-author .author-name {
        font-size: 16px;
    }

    .right-card .button {
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
    }
}

@media only screen and  (max-width: 991px) {
    #cards-body {
        gap:30px;
        padding: 40px 0;
    }
    
    #cards-body .card-item{
        width: 600px;
        height: 300px;
        border-radius: 20px;
    }
    
    .card-item .left-card {
        min-width: 50%;
        height: 100%;
        border-radius:20px ;
    }
    
    .card-item .right-card {
        padding: 24px;
        gap: 10px;
    }
    
    .right-card .card-title {
        font-size: 22px;
    }
    
    .right-card .card-ingredients {
        font-size: 16px;
        max-height: 160px;
    }
    
    .right-card .card-stats {
        font-size:12px;
        padding: 7px;
        border-radius: 10px;
    }
    
    .card-author {
        gap: 10px;
    }
    
    .card-author .author-photo {
        width: 40px;
        height: 40px;
    }
    
    .card-author .author-name {
        font-size: 16px;
    }
    .right-card .button {
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 576px) {
    #cards-body {
        gap:20px;
        padding: 20px 0;
    }
    
    #cards-body .card-item{
        width: 360px;
        height: 180px;
        border-radius: 10px;
    }
    
    .card-item .left-card {
        min-width: 50%;
        height: 100%;
        border-radius:15px ;
    }
    
    .card-item .right-card {
        padding: 12px;
        gap: 8px;
    }
    
    .right-card .card-title {
        font-size: 16px;
    }
    
    .right-card .card-ingredients {
        font-size: 12px;
    }
    
    .right-card .card-stats {
        font-size:8px;
        padding: 5px;
        border-radius: 5px;
    }
    
    .card-author {
        gap: 10px;
    }
    
    .card-author .author-photo {
        width: 24px;
        height: 24px;
    }
    
    .card-author .author-name {
        font-size: 13px;
    }

    .card-button {
        gap: 10px;
    }
    
    .right-card .button {
        font-size: 10px;
        padding: 5px;
        border-radius: 5px;
    }
} 