.empty {
    text-align: left;
    margin: 200px 350px;
}

#cards {
    margin-top: 70px;
}

#cards
.card {
    border: none;
    margin-top: 40px;
    width: 1000px; 
    height: 500px;
}

#cards
.card .img-card {
    margin-right: 30px;
    width: 500px;
    height: 500px;
}

#cards
.card .img-card img {
    width: 100%;
    height: 100%;
    /* width: 500px;
    height: 500px; */
}

#cards
.card .card-body {
    height: 100%;
}

#cards
.card .card-body .card-title {
    color: #3F3A3A;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

#cards
.card .card-body .card-text {
    color: #3F3A3A;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
}

#cards
.card .card-body .card-stats {
    margin-top: 20px;
}

#cards
.card .card-body .card-stats .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #EFC81A;
}

#cards
.card .card-body .card-stats .stats span{
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
}

#cards
.card .card-body .author {
    margin-top: 20px;
}

#cards
.card .card-body .author img {
    margin-right: 24px;
    border-radius: 50%;
}

#cards
.card .card-body .author span {
    color: #3F3A3A; 
    font-size: 24px;
}

.card-btn button{    
    font-weight: 500;
    font-size:16px;
    border-radius: 6px;  
    color:#fff;
    padding:10px 20px;
    margin-top: 20px;
    margin-right: 20px;
}

#edit-btn {
    background-color: #30C0F3;    
    color: #FFF;
}

#delete-btn {
    background-color: #F57E71;
    color:#FFF;
} 

/* @media only screen and (min-width: 992px) and (max-width: 1280px) {
    #cards
    .card {
        max-width: 600px;
        max-height: 300px;
        margin-top: 30px;
    }

    #cards
    .img-card {
        margin-right: 0;
    }

    #cards
    .card-title {
        font-size: 24px;
    }
    
    #cards
    .card-text {
        font-size: 16px;
        width: 100%;
    }

    #cards
    .stats {
        width: 255px;
        height: 34px;
        border-radius: 3px;
    }
    
    #cards
    .stats span{
        color: #FFF;
        font-size: 12px;
    }
    
    #cards
    .author {
        margin-top: 16px;
    }

    #cards
    .card-stats {
        margin-top: 16px;
    }

    #cards
    .author img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    #cards
    .author span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    #cards
    .card {
        max-width: 500px; 
        max-height: 250px;
        margin-top: 20px; 
    }

    #cards
    .img-card {
        margin-right: 0; 
    }

    #cards
    .card-title {
        font-size: 20px; 
    }

    #cards
    .card-text {
        font-size: 14px; 
        width: 100%; 
    }

    #cards
    .author {
        margin-top: 13px;
    }
    
    #cards
    .card-stats {
        margin-top: 13px;
    }

    #cards
    .stats {
        width: 220px; 
        height: 30px; 
        border-radius: 3px;
    }

    #cards
    .stats span {
        color: #FFF;
        font-size: 10px;
    }

    #cards
    .author img {
        width: 40px; 
        height: 40px; 
        margin-right: 8px; 
    }

    #cards
    .author span {
        font-size: 14px; 
    }
} */

@media only screen and (max-width: 436px) {
    #cards {
        margin-top: 10px;
    }
    
    #cards
    .card {
        border: none;
        margin-top: 40px;
        width: 380px; 
        height: 200px;
        margin-bottom: 300px;
        background-color: green;
    }
    
    #cards
    .card .img-card {
        /* margin-right: 30px; */
        width: 50%;
        height: 190px;
        background-color: red;
    }
    
    
    #cards
    .card .card-body {
        height: 100%;
    }
    
    #cards
    .card .card-body .card-title {
        color: #3F3A3A;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }
    
    #cards
    .card .card-body .card-text {
        color: #3F3A3A;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        width: 100%;
    }
    
    #cards
    .card .card-body .card-stats {
        margin-top: 20px;
    }
    
    #cards
    .card .card-body .card-stats .stats {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 325px;
        height: 42px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #EFC81A;
    }
    
    #cards
    .card .card-body .card-stats .stats span{
        display: inline-block;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
    }
    
    #cards
    .card .card-body .author {
        margin-top: 20px;
    }
    
    #cards
    .card .card-body .author img {
        margin-right: 24px;
    }
    
    #cards
    .card .card-body .author span {
        color: #3F3A3A; 
        font-size: 24px;
    }
    
    .card-btn button{    
        font-weight: 500;
        font-size:16px;
        border-radius: 6px;  
        color:#fff;
        padding:10px 20px;
        margin-top: 20px;
        margin-right: 20px;
    }
    
    #edit-btn {
        background-color: #30C0F3;    
        color: #FFF;
    }
    
    #delete-btn {
        background-color: #F57E71;
        color:#FFF;
}
}