/* navigation */
.nav-body {
    width: 100%;
    padding: 40px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.link-wrap {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 70px;
    width: fit-content;
    height: fit-content;
}

.link-item {
    text-decoration: none;
    color: #2E266F;
    font-size: 24px; 
}

.link-item:hover {
    text-decoration: underline;
    color:inherit
}

/* profile box */
.nav-profile {
    width: fit-content;
    display: flex;
    border-left: 7px solid #EFC81A;
    height:97px;
    align-items: center;
    justify-content: space-evenly;
    padding:10px;
}

.nav-img-circle {
    margin-right: 38px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-profile span{
    align-items: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    line-height:normal;
    text-transform: capitalize;
}

.nav-profile span .nav-profile-name{
    font-weight: 400;
    color: black;
}

.nav-profile span .link-style {
    text-decoration: none;
}

.nav-profile span .link-style:hover {
    text-decoration: underline;
}

.nav-profile span .logout {
    font-weight: 700;
    color:black;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .nav-body {
        padding: 20px 50px;
        margin-bottom: 30px;
    }
    
    .link-wrap {
        gap: 60px;
    }
    
    .link-item {
        font-size: 18px; 
    }

    .nav-img-circle {
        margin-right: 13px;
        width: 37px;
        height: 37px;
    }

    .nav-profile {
        margin-top: 0px;
        height:40px;
        padding:10px;
        border-left: 3px solid #EFC81A;
    }

    .nav-profile span {
        font-size: 14px;
    }
}

@media only screen and  (max-width: 991px) {
    .nav-body {
        padding: 20px 30px;
        margin-bottom: 30px;
    }
    
    .link-wrap {
        gap: 30px;
    }
    
    .link-item {
        font-size: 16px; 
    }

    .nav-img-circle {
        margin-right: 10px; 
        width: 28px; 
        height: 28px; 
    }

    .nav-profile {
        margin-top: 0px;
        height: 32px; 
        padding: 8px; 
        border-left: 2px solid #EFC81A; 
    }

    .nav-profile span {
        font-size: 12px; 
    }

}

@media only screen and (max-width: 576px) {
    .nav-body {
        padding: 10px 17px;
        margin-bottom: 30px;
    }
    
    .link-wrap {
        gap: 30px;
    }
    
    .link-item {
        font-size: 11px; 
    }

    .nav-img-circle {
        margin-right: 10px; 
        width: 28px; 
        height: 28px; 
    }

    .nav-profile {
        margin-top: 0px;
        height: 28px;
        padding: 6px;
        border-left: 2px solid #EFC81A;
    }

    .nav-profile span {
        font-size: 10px;
    }
} 