/* navigation */
.nav-body {
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: fixed;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.1);
    z-index: 99;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.logo-img {
    width: 60px;
}

.logo p {
    font-weight: 600;
    font-size: 28px;
    color: #EFC81A;
    margin-bottom: 0;
}

.link-wrap {
    flex: 1 1 0%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-left: 70px;
    width: fit-content;
    height: fit-content;
}

.link-item {
    text-decoration: none;
    color: #2E266F;
    font-size: 24px; 
}

.link-item:hover {
    text-decoration: underline;
    color:inherit
}

/* profile box */
.nav-profile {
    width: fit-content;
    display: flex;
    border-left: 7px solid #EFC81A;
    height:97px;
    align-items: center;
    justify-content: space-evenly;
    padding:10px;
}

.nav-img-circle {
    margin-right: 38px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.link-style {
    text-decoration: none;
}

.nav-profile .profile-name-navbar{
    font-weight: 500;
    font-size: 24px;
    color: #2E266F;
    text-decoration:none;
    border-bottom: none;
    margin-bottom: 0;
}

.sidebar-btn {
    display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .nav-body {
        padding: 16px 40px;
        margin-bottom: 30px;
    }

    .logo {
        gap: 20px;
    }
    
    .logo-img {
        width: 30px;
    }
    
    .logo p {
        font-size: 18px;
    }
    
    .link-wrap {
        gap: 60px;
        margin-left: 60px;
    }
    
    .link-item {
        font-size: 16px; 
    }

    .nav-img-circle {
        margin-right: 13px;
        width: 37px;
        height: 37px;
    }

    .nav-profile {
        margin-top: 0px;
        height:40px;
        padding:10px;
        border-left: 3px solid #EFC81A;
    }

    .nav-profile .profile-name-navbar{
        font-size: 14px;
    }
}

@media only screen and  (max-width: 991px) {
    .nav-body {
        padding: 20px 30px;
        margin-bottom: 30px;
    }
    .logo {
        gap: 20px;
    }
    
    .logo-img {
        width: 30px;
    }
    
    .logo p {
        font-size: 18px;
    }
    
    .link-wrap {
        gap: 60px;
        margin-left: 60px;
    }
    .link-wrap {
        gap: 30px;
    }
    
    .link-item {
        font-size: 16px; 
    }

    .nav-img-circle {
        margin-right: 10px; 
        width: 28px; 
        height: 28px; 
    }

    .nav-profile {
        margin-top: 0px;
        height: 32px; 
        padding: 8px; 
        border-left: 2px solid #EFC81A; 
    }

    .nav-profile .profile-name-navbar{
        font-size: 14px;
    }

}

@media only screen and (max-width: 576px) {
    .nav-body {
        padding: 15px 17px;
        margin-bottom: 30px;
    }
    .logo {
        gap: 20px;
    }
    
    .logo-img {
        width: 20px;
    }
    
    .logo p {
        font-size: 14px;
    }
    
    .link-wrap {
        gap: 30px;
        margin-left: 30px;
        display: none;
    }
    
    .link-item {
        font-size: 11px; 
    }

    .nav-img-circle {
        margin-right: 10px; 
        width: 28px; 
        height: 28px; 
    }

    .nav-profile {
        margin-top: 0px;
        height: 28px;
        padding: 6px;
        border-left: 2px solid #EFC81A;
        display: none;
    }

    .nav-profile span {
        font-size: 10px;
    }

    .sidebar-btn {
        display: inline;
        width: 24px;
        fill: #EFC81A;
    }

    .side-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 70%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        z-index: 100;
    }
    .close {
        width: 24px;
        align-self: self-end;
        margin: 20px;
    }

    .side-link-body {
        display: flex;
        flex-direction: column;
    }
    .side-link {
        text-align: center;
        padding: 20px;
        text-decoration: none;
        font-size: 18px;
        color: #2E266F;
        border-top:2px solid #ebeaf3 ;
    }
    .side-link-body .logout{
        color: salmon;
    }


} 