.navbar-wrapper {
    gap: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-bottom:15px solid #EFC81A;
}

.navbar-wrapper .navbar-link {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 15px;
    cursor: pointer;
}

.navbar-link-active {
    color: #3F3A3A;
}

.navbar-link-disactive {
    color: #B6B6B6;
}

.navbar-wrapper .navbar-link:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .navbar-wrapper {
        gap: 18px;
        border-bottom:10px solid #EFC81A;
    }
    
    .navbar-wrapper .navbar-link {
        font-size: 26px;
        padding: 12px;
    }
    
}

@media only screen and  (max-width: 991px) {
    .navbar-wrapper {
        gap: 18px;
        border-bottom:10px solid #EFC81A;
    }
    
    .navbar-wrapper .navbar-link {
        font-size: 26px;
        padding: 12px;
    }
    
}

@media only screen and (max-width: 576px) {
    .navbar-wrapper {
        gap: 10px;
        border-bottom:5px solid #EFC81A;
    }
    
    .navbar-wrapper .navbar-link {
        font-size: 16px;
        padding: 7px;
    }

}